  <div class="tree-node tree-node-level-{{ node.level }}"
  [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
  [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
  [class.tree-node-leaf]="node.isLeaf"
  [class.tree-node-active]="node.isActive"
  [class.tree-node-focused]="node.isFocused">
  
  <span
    *ngIf="node.hasChildren"
    class="toggle-children">
  </span>
  <span
    *ngIf="!node.hasChildren"
    class="toggle-children-placeholder">
  </span>

  <!-- 设置click事件的处理器 -->
  <div class="node-content-wrapper" 
    (click)="node.toggleActivated()"
    (click)="node.toggle()">
    <!-- 设置文件图标 -->
    <img
    style="width: 1rem"
    *ngIf="!node.hasChildren"
    src={{fileIconPath}} 
    >
    <!-- 设置动态组件的锚点 -->
    <ng-template treeNodeContent-host></ng-template> 
  </div>
  
  <div class="tree-children" [hidden]="node.isCollapsed">
    <app-treenode
      *ngFor="let child of node.childrenField"
      [node]="child">
    </app-treenode>
  </div>
</div>