.tree-children { padding-left: 20px }
.tree {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */
}